<div class="container" style="margin-top: 20px;">
    <div class="form-group">
      <h2 class="title">{{car.make}} - {{car.model}} details!</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="video-responsive">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZuaqDvdPdoQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4">
        <label>id: </label>{{car.id}}
      </div>
      <div class="col-md-4">
        <label for="make">Make: </label> {{car.make}}
      </div>
      <div class="col-md-4">
        <label>Model: </label> {{car.model}}
      </div>
      <div class="col-md-4">
        <label>Owner: </label> {{car.owner}}
      </div>
      
      <div class="col-md-4">
        <label>Horsepower: </label> {{car.horsepower}}
      </div>
      <div class="col-md-4">
        <label>Number of doors: </label> {{car.number_of_doors}}
      </div>
      <div class="col-md-4">
        <label>Number of seats: </label> {{car.number_of_seats}}
      </div>
      <div class="col-md-4">
        <label>Transmission: </label> {{car.transmission}}
      </div>
      <div class="col-md-4">
        <label>Fuel: </label> {{car.fuel}}
      </div>
      <div class="col-md-4">
        <label>Rate: </label><br>
        <div class="stars">
          <form action="">
            <input class="star star-5" id="star-5" [value]="5" [(ngModel)]="star" (change)="updateRate(car.id)" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" [value]="4" [(ngModel)]="star" (change)="updateRate(car.id)" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" [value]="3" [(ngModel)]="star" (change)="updateRate(car.id)" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" [value]="2" [(ngModel)]="star" (change)="updateRate(car.id)" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" [value]="1" [(ngModel)]="star" (change)="updateRate(car.id)" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
          </form>
        </div>
      </div>
      <div class="col-md-12">
        <label>Description: </label> <br>{{car.description}}
      </div>
    </div>
    <hr>
    <h2>Photos:</h2>
    <div class="col-md-3">
      <img class="img-responsive" src="http://via.placeholder.com/400x300">
    </div>
    <div class="col-md-3">
      <img class="img-responsive" src="http://via.placeholder.com/400x300">
    </div>
    <div class="col-md-3">
      <img class="img-responsive" src="http://via.placeholder.com/400x300">
    </div>
    <div class="col-md-3">
      <img class="img-responsive" src="http://via.placeholder.com/400x300">
    </div>
</div>
