
<h1>Hello word</h1>  
<!-- <div *ngIf="car"> -->
<!--   <md-card style="width: 30%">
    <md-card-header>
      <md-card-title>{{car.make}} - {{car.model}} details!</md-card-title>
    </md-card-header>
    <md-card-content>
      <div><label>id: </label>{{car.id}}</div>
      <div>
        <label>Make: </label>
        <input [(ngModel)]="car.make" placeholder="make" />
      </div>
      <div>
        <label>Model: </label>
        <input [(ngModel)]="car.model" placeholder="model" />
      </div>
      <div>
        <label>Owner: </label>
        <input [(ngModel)]="car.owner" placeholder="owner" />
      </div>
      <div>
        <label>Description: </label>
        <input [(ngModel)]="car.description" placeholder="description" />
      </div>
      <div>
        <label>Horsepower: </label>
        <input [(ngModel)]="car.horsepower" placeholder="horsepower" />
      </div>
      <div>
        <label>Number of doors: </label>
        <input [(ngModel)]="car.number_of_doors" placeholder="number of doors" />
      </div>
      <div>
        <label>Number of seats: </label>
        <input [(ngModel)]="car.number_of_seats" placeholder="number of seats" />
      </div>
      <div>
        <label>Transmission: </label>
        <input [(ngModel)]="car.transmission" placeholder="transmission" />
      </div>
      <div>
        <label>Fuel: </label>
        <input [(ngModel)]="car.fuel" placeholder="fuel" />
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="goBack()"> Back </button>
      <button md-button (click)="updateCar()"> Update </button>
    </md-card-actions>
  </md-card>
  <div> -->