<div class="container">
<h2>Cars</h2>
 
<form class="form-inline">
  <div class="form-group">
    <label for="search">Search for make or model: </label>
    <input class="form-control" [(ngModel)]="searchText" placeholder="Type Make or Model" name="search">
  </div>
  <br><br>
 </form>
  <table  class="table">
    <tr>
        <th>Id</th>
        <th>Make</th>
        <th>Model</th>
        <th></th>
    </tr>
    <tr *ngFor="let car of cars | filter : searchText;let i = index;" (click)="showInfo(car)">
      <td>
          {{car.id}}
      </td>
      <td>
          {{car.make}}
      </td>
      <td>
          {{car.model}}
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteCar(car.id, i); $event.stopPropagation()">Delete</button>

        <a  class="btn btn-primary" href="/car/{{car.id}}">Update</a>

        <a  class="btn btn-info" href="/car/view/{{car.id}}">View</a>
        
      </td>
    </tr>
  </table>
</div>