<!-- <h2>Cars</h2>
 
<form>
  <md-input-container style="width:30%">
    <input mdInput [(ngModel)]="newCar.model" placeholder="Model" name="model">
  </md-input-container>
  <md-input-container style="width:30%">
    <input mdInput [(ngModel)]="newCar.make" placeholder="Make" name="manufacturer">
  </md-input-container>
  <button md-raised-button (click)="createCar(newCar)">Create Car</button>
 
  <md-list>
    <md-list-item *ngFor="let car of cars" (click)="showInfo(car)">
      <span>
          {{car.model}}
      </span>
      <span>
        <button md-raised-button (click)="deleteCar(car); $event.stopPropagation()">Delete</button>
      </span>
    </md-list-item>
  </md-list>
</form> -->